@media screen and (max-width:991px) {
    h3{
        font-size: 1.2rem;
    }
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
 
    /* .nav-links {
       position: absolute;
       background-color: white;
       left: 0;
       top:100%;
       width: 100%;
       padding-block: 20px;
    } */
    .nav-links{
        position: fixed;
        top:100px;
        left:-100%;
        background: white;
        height:100vh;
        justify-content:space-evenly;
        gap:20px;
        width:100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        
    }
   
   .nav-links.active{
    left:0;
   }
    /* .nav-links ul{
        justify-content:space-evenly;
        gap:20px;
    } */
   
    .nav-links ul {
        flex-direction: column;

    }
    .example-area {
        gap:20px;
    }

    .examples-card{
        width:calc(50% - 10px);
        height:180px;
    }
 
}

@media screen and (max-width:767px) {
    .header-section{
        flex-direction: column-reverse;
    }
    .header-left{
        max-width:100vw;
        text-align: center;
    }
    .primary-button {
        width:100%;
    }
    .features-card{
        min-width:calc(50% - 10px);
    }
    .big-feature-container,#second-big-container {
        flex-direction: column;
    }
    .footer-container{
        flex-direction: column;
        gap:40px;
        text-align: center;
        align-items: center;

    }
    .link-column{
        
        align-items:stretch;
        
    }
}

@media screen and (max-width:479px) {
    :root{
        --padding-inline-section:10px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .features-card{
        min-width:100%;
    }
    .examples-card{
        width:100%;
        
    }
}